.card {
	padding: 10px;
	background: #7fbfff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		'imagen info info'
		'info-extra info info'
		'info-extra info info';
}

.card .info {
	grid-column-start: info;
	grid-column-end: info;
	text-align: center;
}
.card .info-extra {
	grid-column-start: info-extra;
	grid-column-end: info-extra;
	padding: 10px;
	margin: 0 auto;
}
.card .info-extra .numero-dex {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}
.card .imagen {
	grid-column-start: imagen;
	grid-column-end: imagen;
	background: #d9fffa;
	border-radius: 10px;
}

.imagen img {
	width: 100%;
}

.card .name {
	text-transform: capitalize;
}

.card h1 {
	font-size: 30px;
}

.stats {
	text-transform: capitalize;
}
